<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash[:alert] %>
  <% if user_signed_in? %>
  HI    <%= current_user.email %>
  <%= link_to "signout", destroy_user_session_path, method: :delete %>------
  <%= link_to "Home", "/", method: :get %>
  <%= link_to "Profile", "/users/profile/"+current_user.id.to_s, method: :get %>
  <% end %>
    <%= yield %>
  </body>
</html>
